
<div class="h-[900px]">


</div>

<footer>

    <div class="max-w-7xl mx-auto text-sm bg-green-300">
        <!-- Separar contenedor de columnas -->
        <div class="grid grid-cols-5">
            <div>
                Logo
    
                Redes Sociales
    
            </div>
    

    
            <div>
                <ul>
                    <li class="font-bold">Politicas y condiciones del sitio</li>
                    <li>Normas Comunitarias</li>
                    <li>Politica de Privacidad</li>
                    <li>Condiciones</li>
                    <li>Politica de cookies</li>
                </ul>
                <ul>
                        <li class="font-bold" >Realidad virtual</li>
                        <li>Comprar Meta Quest</li>
                        <li>Meta Quest 2 reacondicionadas</li>
                        <li>VR for Good</li>
                        <li>Foros</li>
                        <li>Recomienda Meta Quest 2</li>
                        <li>Blog</li>
                        <li>Creadores</li>
                        <li>Descargar SDK</li>
                        <li>Desarrolladores</li>
                        <li>Programa de socios “Made for Meta”</li>
                        <li>Información sobre seguridad para padres y preadolescentes</li>
                        <li>Información sobre salud y seguridad de Meta Quest</li>
                        <li>Centro de seguridad de Meta Quest</li>
                        <li>Meta for Work</li>
                        <li>Avatares de Meta </li>   
                </ul>
    
            </div>
    
            <div>
                <ul>
                    <li class="font-bold"> Gafas inteligentes  </li>
                    <li> Comprar gafas inteligentes Ray-Ban Meta  </li>
                    <li> Ray-Ban Stories  </li>
                    <li> Información de privacidad  </li>
                    <li> Países en los que está disponible  </li>
                    <li class="font-bold"> Asistencia e información legal  </li>
                    <li> Servicio de ayuda de nuestra tienda   </li>
                   <li> Estado del pedido   </li>
                   <li> Devoluciones   </li>
                   <li> Encuentra una demostración de producto   </li>
                   <li> Legal   </li>
                   <li> Condiciones de venta   </li>
                   <li class="font-bold">Nuestras iniciativas </li>
                    <li> Datos y privacidad </li>
                    <li> Seguridad y libertad de expresión </li>
                    <li> Prácticas de negocio responsables </li>
                    <li> Elecciones </li>
                    <li> Respuesta ante el COVID-19 </li>
                    <li> Reglamentos </li>
                </ul>
            </div>
    
            <div>
                <ul>
                    <li class="font-bold"> Información </li>
                    <li> Información sobre Meta </li>
                    <li> Galería multimedia </li>
                    <li> Recursos de marca </li>
                    <li> Para inversores </li>

                    <li class="font-bold" > Nuestra comunidad </li>
                    <li> Apoyo a pymes </li>
                    <li> Giving Together </li>
                    <li> Impacto social </li>


                    <li class="font-bold" > Asistencia para aplicaciones </li>
                    <li> Servicio de ayuda de Facebook </li>
                    <li> Servicio de ayuda de Messenger </li>
                    <li> Servicio de ayuda de Instagram </li>
                    <li> Servicio de ayuda de WhatsApp </li>
                    <li> Servicio de ayuda de Workplace </li>
                    <li> Meta Verified </li>

                </ul>
            </div>


        </div>

      

    </div>

</footer>

<div class="h-[900px]"></div>